{% extends "base.html" %}

{% if page.title|length > 1 %}
  {% block title %}{{ page.title }}{% endblock %}
{% endif %}

{% block subheading %}
  {% if page.title|length > 1 %}
    &raquo; {{ page.title }}
  {% endif %}
{% endblock %}
{% block frame %}
  <div class="pure-g"><div class="pure-u-1">
    {{ page.content }}
  </div></div>

  <div class="pure-g"><div class="pure-u-1">
    {% if page.modified %}
      <p>
      Last updated: {{ page.locale_modified }}
      </p>
    {% endif %}
  </div></div>
{% endblock %}
