@import url('https://fonts.googleapis.com/css?family=Nova+Square');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('monokai.css');


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  /* font-family: 'Roboto', sans-serif; */
  font-size: 103%;
}

body {
  background-color: #333333;
  color: #eeeeee;
}

section#content {
  padding: 5px 15px;
  background-color: #292929;
}

img
{
  display: block;
  height: auto;
  max-width: 100%;
}

.image-center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #8db2e5;
}

a:visited {
  color: #8db2e5;
}

a:hover {
  color: #fe8255;
}

/* Title Links */
a.no_underline {
  text-decoration: none;
}

h1 a {
  font-family: "Nova Square", cursive;
  text-decoration: none;
  color: #ffffff;
}

/* Page titles */
h2 {
  font-family: "Electrolize", sans-serif;
}

legend a {
  text-decoration: none;
}

ul {
  list-style-type: square;
}

.no_bullets {
  list-style: none;
}

p {
  text-align: justify;
}

li {
  margin: 0.5em 0;
}

pre {
  /* font-family: 'monospace', sans-serif; */
  font-size: 90%;
}

tt {
  font-family: 'monospace', sans-serif;
  background-color: #555555;
  border-radius: 5px;
  border: 2px;
}
